## {% trans %}Installation {% endtrans %}

### Home Assistant Community Store

> 🎉 **{% trans %}Recommended installation method.{% endtrans %}**

[![{% trans %}Открыть Ваш Home Assistant и открыть репозиторий внутри Home Assistant Community Store.{% endtrans %}](https://my.home-assistant.io/badges/hacs_repository.svg)](https://my.home-assistant.io/redirect/hacs_repository/?owner=alryaz&repository=hass-pandora-cas&category=integration)

{% set i = 1 %}
{{ i++ }}. {% trans %}Install HACS ([{% trans %}official installation manual{% endtrans %}](https://hacs.xyz/docs/installation/installation/)).
{% if not is_hacs_default -%}
{{ i++ }}. {% trans %}Add repository to the list of custom repositories:{% endtrans %}
    1. Откройте главную страницу _HACS_.
    2. Откройте раздел _Интеграции (Integrations)_.
    3. Нажмите три точки сверху справа (допонительное меню).
    4. Выберите _Пользовательские репозитории_.
    5. Скопируйте `https://github.com/alryaz/hass-pandora-cas` в поле ввода
    6. Выберите _Интеграция (Integration)_ в выпадающем списке.
    7. Нажмите _Добавить (Add)_.
{%- endif -%}
{{ i++ }}. {% trans %}Find `{{ hacs_title }}` in the _Integrations_ section.{% endtrans %}
{{ i++ }}. {% trans %}Install the latest component version by pressing the _Install_ button.{% endtrans %}
{{ i++ }}. {% trans %}Restart _Home Assistant_ server instance.{% endtrans %}

### Вручную

> ⚠️ **Внимание!** Данный вариант **<ins>не рекомендуется</ins>** в силу
> сложности поддержки установленной интеграции в актуальном состоянии.

1. Скачайте [архив с актуальной стабильной версией интеграции](https://github.com/alryaz/hass-pandora-cas/releases/latest/download/pandora_cas.zip)
2. Создайте папку (если не существует) `custom_components` внутри папки с конфигурацией Home Assistant
3. Создайте папку `pandora_cas` внутри папки `custom_components`
4. Извлеките содержимое скачанного архива в папку `pandora_cas`
5. Перезапустите сервер _Home Assistant_
